RTMtoSKUDB/Web References/WebReference/Service1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetIPSKU">
        <s:complexType />
      </s:element>
      <s:element name="GetIPSKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetIPSKUResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetCMP">
        <s:complexType />
      </s:element>
      <s:element name="GetCMPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetCMPResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQCSKU">
        <s:complexType />
      </s:element>
      <s:element name="GetQCSKUResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQCSKUResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQCCMP">
        <s:complexType />
      </s:element>
      <s:element name="GetQCCMPResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQCCMPResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetQCPSL">
        <s:complexType />
      </s:element>
      <s:element name="GetQCPSLResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetQCPSLResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="GetIPSKUSoapIn">
    <wsdl:part name="parameters" element="tns:GetIPSKU" />
  </wsdl:message>
  <wsdl:message name="GetIPSKUSoapOut">
    <wsdl:part name="parameters" element="tns:GetIPSKUResponse" />
  </wsdl:message>
  <wsdl:message name="GetCMPSoapIn">
    <wsdl:part name="parameters" element="tns:GetCMP" />
  </wsdl:message>
  <wsdl:message name="GetCMPSoapOut">
    <wsdl:part name="parameters" element="tns:GetCMPResponse" />
  </wsdl:message>
  <wsdl:message name="GetQCSKUSoapIn">
    <wsdl:part name="parameters" element="tns:GetQCSKU" />
  </wsdl:message>
  <wsdl:message name="GetQCSKUSoapOut">
    <wsdl:part name="parameters" element="tns:GetQCSKUResponse" />
  </wsdl:message>
  <wsdl:message name="GetQCCMPSoapIn">
    <wsdl:part name="parameters" element="tns:GetQCCMP" />
  </wsdl:message>
  <wsdl:message name="GetQCCMPSoapOut">
    <wsdl:part name="parameters" element="tns:GetQCCMPResponse" />
  </wsdl:message>
  <wsdl:message name="GetQCPSLSoapIn">
    <wsdl:part name="parameters" element="tns:GetQCPSL" />
  </wsdl:message>
  <wsdl:message name="GetQCPSLSoapOut">
    <wsdl:part name="parameters" element="tns:GetQCPSLResponse" />
  </wsdl:message>
  <wsdl:portType name="Service1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetIPSKU">
      <wsdl:input message="tns:GetIPSKUSoapIn" />
      <wsdl:output message="tns:GetIPSKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetCMP">
      <wsdl:input message="tns:GetCMPSoapIn" />
      <wsdl:output message="tns:GetCMPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQCSKU">
      <wsdl:input message="tns:GetQCSKUSoapIn" />
      <wsdl:output message="tns:GetQCSKUSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQCCMP">
      <wsdl:input message="tns:GetQCCMPSoapIn" />
      <wsdl:output message="tns:GetQCCMPSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetQCPSL">
      <wsdl:input message="tns:GetQCPSLSoapIn" />
      <wsdl:output message="tns:GetQCPSLSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service1Soap" type="tns:Service1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPSKU">
      <soap:operation soapAction="http://tempuri.org/GetIPSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMP">
      <soap:operation soapAction="http://tempuri.org/GetCMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCSKU">
      <soap:operation soapAction="http://tempuri.org/GetQCSKU" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCCMP">
      <soap:operation soapAction="http://tempuri.org/GetQCCMP" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCPSL">
      <soap:operation soapAction="http://tempuri.org/GetQCPSL" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service1Soap12" type="tns:Service1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetIPSKU">
      <soap12:operation soapAction="http://tempuri.org/GetIPSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCMP">
      <soap12:operation soapAction="http://tempuri.org/GetCMP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCSKU">
      <soap12:operation soapAction="http://tempuri.org/GetQCSKU" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCCMP">
      <soap12:operation soapAction="http://tempuri.org/GetQCCMP" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetQCPSL">
      <soap12:operation soapAction="http://tempuri.org/GetQCPSL" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service1">
    <wsdl:port name="Service1Soap" binding="tns:Service1Soap">
      <soap:address location="http://10.80.20.84/WSSQUDB/Service1.asmx" />
    </wsdl:port>
    <wsdl:port name="Service1Soap12" binding="tns:Service1Soap12">
      <soap12:address location="http://10.80.20.84/WSSQUDB/Service1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>